@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.map-container {
    height: 70vh;
    margin: 1em 0;
    border-radius: 0.5em;
  }
  
.map-ref {
    height: 100%;
}

.inline-box {
    display: inline-block;
    width: 100%;
    color: #fff
}

.inline-box div {
    float: left;
    width: 33%;;
}

.inline-box div label {
    position: relative;
    top: 6px;
    margin-left: 5px;
}

@media screen and (max-width: 650px) {
    .inline-box {
        display: inline-grid;
    }
    .inline-box div {
        width: 100%;;
    }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
    .inline-box {
        width: 100%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1100px) {
    .inline-box {
        width: 80%;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1300px) {
    .inline-box {
        width: 60%;
    }
}

@media screen and (min-width: 1301px) {
    .inline-box {
        width: 50%;
    }
}

* {
    margin: 10;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px roboto, sans-serif;
    background: #363636;
    -webkit-font-smoothing: antialiased;
}

h1 {
    color: #fff;
    margin: 0;
    font: 500 60px roboto, sans-serif;
}

input, button, p, label {
    font: 400 14px roboto, sans-serif;
    color: #fff;
    margin: 0;
}

button {
    cursor: pointer;
}